.is-expand-true {
    padding: 0;
    transform: rotate(180deg) translateX(0) translateY(0);
    cursor: pointer;
}

.is-expand-false {
    cursor: pointer;
}


.more-details {
    transition: height 2s;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 15%
}

@media only screen and (max-width: 700px) {


    .action-buttons {
        width: 20%;
    }
}