.add-task {
    display: grid;
    place-items: center;
}

.add-task-container {
    width: 95%;
    position: fixed;
    right: 2.5%;
    padding: 0;
    height: 4rem;
    background-color: rgb(134, 211, 216);
    bottom: 0;
    border-radius: 15px 15px 0px 0;


}

.add-task-container-expand {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(109, 101, 101, 0.8);
    top: 0;

}

.add-task-background {
    border-radius: 35px;
    width: 4rem;
    height: 4rem;
    background-color: white;
    margin-top: -4em;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.add-task-form {
    width: clamp(23ch, 50%, 46ch);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.add-task-form input {
    height: 3rem;
    margin-top: 1rem;
    border: 1px solid rgb(83, 79, 79);
    border-radius: 7px;
    padding: 0.5rem;
}