.App {
  padding: 0;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.header {
  background-color: #556b97;
  height: 10vh;
  width: 100vw;
  color: rgb(26, 229, 185);
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}

.header .headlines {
  display: flex;
}

.header h1 {
  margin: 0;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.expaires {
  color: rgb(122, 121, 121);
}

#li {
  direction: rtl;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  margin: 0 0 1em 0;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(36, 82, 146);
  background-color: hsla(87, 91%, 55%, 0.749);
  font-size: 1.2em;
  height: auto;
  width: 100%;

}


.done {
  text-decoration: line-through;
  color: #556b97;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

span {
  padding: 0;
  /* margin: 2rem; */
  font-size: 1rem;
}


.page-container {
  background: linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: top;
  justify-items: center;
  height: 90vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /* background-color: rgb(250, 237, 237); */
}